
.name{
  width: 10.5rem;
  display:flex;
  flex-wrap: nowrap;
}


#combine-slider{
display:flex;
background: rgb(2,0,36);

}
.toggle-container{
  padding-top: 35px;
  background: rgb(2,0,36);
  padding-left: 30%;
}

 nav {
  display:flex;
  padding: 0px 10px 0px 20px;
  text-decoration: none;
  background: rgb(2,0,36);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
} 

.nav-buttons{
  display:flex;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  background: rgb(2,0,36);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 40px;
  padding-top: 49px;
  height:20px;

}

.nav-buttons-container{
width: 100%;
background: rgb(2,0,36);


}

.nav-buttons:hover {
 /* box-shadow: rgba(45, 35, 66, .4) 0 4px 4px, rgba(45, 35, 66, .3) 0 7px 3px -3px, #3c4fe0 0 -3px 0 inset; */
 /* transform: translateY(-2px); */
 height: 5px;
}

.nav-buttons:active {
 box-shadow: #3c4fe0 0 3px 7px inset;
 transform: translateY(2px);
}

.nav-main-buttons a{
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px; 
  transition: background-color 0.4s ease;
  background: rgb(2,0,36);
  padding: 12px 10px;
  border-radius: 40px;

}

.nav-main-buttons:hover {
box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 6px 13px -3px, #3c4fe0 0 -3px 0 inset;
transform: translateY(-2px);
}

.nav-main-buttons:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
 }


.nav-main-right{
width: 10px;
}
.nav-main-left{
  width: 10px;

}

.section-title{
  font-size: 2.2rem;
  text-align: center;
}


/* .background-about {
  height: 100vh;
  max-width: 71rem;
  margin: 0 auto; 

} */

/* @media screen and (max-width: 600px) {
  .background-about {
    max-width: 100%; 
  }
} */

.standard-photo-size {
    height: 160px;
     Width: 160px;
     }
     
     .hero-img {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      padding: 20px;
      text-align: center;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     padding: 250px 50px;
     border-radius: 20px;
     box-shadow: 2px 20px 50px rgba(0,0,0,0.5);
    

     }



   #projects{
    margin: 0;
     /* 2 rows */
    gap: 20px; 
    background-color: #3498db;
    padding: 5%;
    

   }

.project-block{

      color: #fff;
      padding: 20px;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columns */
      grid-template-rows: repeat(2, 1fr); 
      gap: 40px; 

}



/* #0C0032
#190061
#240090
#3500D3
#282828 */

.main-titles{
  padding-bottom: 5px;
  display: flex;
}


.hiremeform{
  text-align: center;
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: white;
  height: 28rem;
}


#section4{
  display: flex;
  height: 45rem;
  padding: 20px;
  background: rgb(72,63,255);
background: linear-gradient(0deg, rgba(72,63,255,1) 55%, rgba(1,0,18,1) 100%);
}

#skills{
  padding: 20px;
  color: white;
 padding-left: 60px;
 border-style: solid;
 border-color: white;
 border-radius: 6px;
 height: 42rem;

}

#contact{

  padding: 20px;
  background: rgb(72,63,255);
background: linear-gradient(0deg, rgba(72,63,255,1) 55%, rgba(1,0,18,1) 100%);
}

.resume-container{

}

#about{
  padding: 50px 50px;
  background: rgb(72,63,255);
  background: linear-gradient(180deg, rgba(72,63,255,1) 55%, rgba(1,0,18,1) 100%);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

}

.chatbot-positioning{

}



.react-chatbot-kit-chat-container {
   width: 300px;
  position: fixed;
  bottom: 120px;
  right: 40px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.react-chatbot-kit-chat-inner-container {
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 15px;

}

.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  margin: 15px ;
  justify-content: flex-start;
}
.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #514f4f;
  padding: 14.5px;
  font-weight: bold;
}
.react-chatbot-kit-chat-message-container {
  padding: 0px 17.5px 10px 17.5px;
  overflow: scroll;
  height: 424px;
}
.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-start;
}

.chat-toggle {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  border: none;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.chat-toggle:hover {
  background-color: #0056b3;
}

.chatbot-container {
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.react-chatbot-kit-chat-bot-message {
  background-color: #2898ec;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  width: 184.5px;
  margin-left: auto;
  text-align: left;
}

.react-chatbot-kit-chat-input-container {
  position: absolute;
  left: 13px;
  bottom: 7;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-bot-avatar{
background-color: red;
width: 40px;
background-image: url('../components/assets/user.png');

}
/* .react-chatbot-kit-chat-bot-avatar-container{

} */

.galleryimg{
  width: 15rem;
  height: 10rem;
}



/* Skills */

.skill-align{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}



/* Contact */


form input {
  background-color: transparent;
  border-radius: 12px;
  border: 2px;
  border-style: solid;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  height: 100%;
  padding: 4px 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  gap-row: 15px;

}

.submit-button {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

