.App {
  text-align: center;
}

main{
background: rgb(2,0,36);
background: linear-gradient(13deg, rgba(2,0,36,1) 0%, rgba(36,0,144,1) 56%, rgba(0,152,255,1) 100%);
}

.name{
  color: white;
  margin: 20px;
  display: flex;
  wrap: nowrap;

}


